<config>
	<groupACL>pmse</groupACL>
	<groupACL>coe</groupACL>
	<groupACL>choque</groupACL>
	<groupACL>prf</groupACL>
	<groupACL>caatinga</groupACL>
	<groupACL>gati</groupACL>
	<groupACL>DETRAN</groupACL>
	<groupACL>SAMU</groupACL>
	<groupACL>RPT</groupACL>
	<groupACL>Staff</groupACL>
	<groupACL>SUA TAG AQUI</groupACL>
	<groupACL>SUA TAG AQUI</groupACL>
	<groupACL>SUA TAG AQUI</groupACL>
</config>